python/gegede/export/gdml/schema/gdml_solids.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xs:schema>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" version="1.0" xmlns:gdml="http://cern.ch/2001/Schemas/GDML" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="gdml_core.xsd"></xs:include>
  <xs:include schemaLocation="gdml_define.xsd"></xs:include>
  <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
  
  <xs:complexType name="SolidType">
    <xs:annotation>
      <xs:documentation>Base solid type</xs:documentation>
    </xs:annotation>
    <xs:attribute default="mm" name="lunit" type="xs:string">
      <xs:annotation>
	<xs:documentation>Length unit of all dimensions used for this instance of solid</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute default="radian" name="aunit" type="xs:string">
      <xs:annotation>
	<xs:documentation>Angle unit of angles used in definition of this solid</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="name" type="xs:ID" use="required"></xs:attribute>
  </xs:complexType>
  <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
  
  <xs:complexType name="BooleanSolidType">
    <xs:annotation>
      <xs:documentation>Base type for boolean solids</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="SolidType">
	<xs:sequence>
	  <xs:element name="first" type="ReferenceType"></xs:element>
	  <xs:element name="second" type="ReferenceType"></xs:element>
	  <xs:choice minOccurs="0">
	    <xs:element name="position" type="positionType"></xs:element>
	    <xs:element name="positionref" type="ReferenceType"></xs:element>
	  </xs:choice>
	  <xs:choice minOccurs="0">
	    <xs:element name="rotation" type="rotationType"></xs:element>
	    <xs:element name="rotationref" type="ReferenceType"></xs:element>
	  </xs:choice>
	  <xs:choice minOccurs="0">
	    <xs:element name="firstposition" type="positionType"></xs:element>
	    <xs:element name="firstpositionref" type="ReferenceType"></xs:element>
	  </xs:choice>
	  <xs:choice minOccurs="0">
	    <xs:element name="firstrotation" type="rotationType"></xs:element>
	    <xs:element name="firstrotationref" type="ReferenceType"></xs:element>
	  </xs:choice>
	</xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

  <xs:element name="reflectedSolid" substitutionGroup="Solid">
    <xs:annotation>
      <xs:documentation>Reflected solid: 
        sx, sy, sz are scale components (containing reflection),
        rx, ry, rz are rotation angles around given axes and 
        dx, dy, dz is the translation.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
	<xs:extension base="SolidType">
	  <xs:attribute name="solid" type="ExpressionOrIDREFType" use="required"></xs:attribute>
	  <xs:attribute default="1.0" name="sx" type="ExpressionOrIDREFType"></xs:attribute>
	  <xs:attribute default="1.0" name="sy" type="ExpressionOrIDREFType"></xs:attribute>
	  <xs:attribute default="1.0" name="sz" type="ExpressionOrIDREFType"></xs:attribute>
	  <xs:attribute default="0.0" name="rx" type="ExpressionOrIDREFType"></xs:attribute>
	  <xs:attribute default="0.0" name="ry" type="ExpressionOrIDREFType"></xs:attribute>
	  <xs:attribute default="0.0" name="rz" type="ExpressionOrIDREFType"></xs:attribute>
	  <xs:attribute default="0.0" name="dx" type="ExpressionOrIDREFType"></xs:attribute>
	  <xs:attribute default="0.0" name="dy" type="ExpressionOrIDREFType"></xs:attribute>
	  <xs:attribute default="0.0" name="dz" type="ExpressionOrIDREFType"></xs:attribute>
	</xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

  <!--
      <xs:element name="BooleanSolid" abstract="true">
	<xs:annotation>
	  <xs:documentation>
            Abstract element for boolean solids substitution group
	  </xs:documentation>
	</xs:annotation>
	<xs:complexType>
	  <xs:complexContent>
	    <xs:extension base="BooleanSolidType"/>
	  </xs:complexContent>
	</xs:complexType>
      </xs:element>
      -->
  
  <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
  
  <xs:element abstract="true" name="Solid" type="SolidType">
    <xs:annotation>
      <xs:documentation>Abstract element for all solids substitution group</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
  
  <xs:element name="solids">
    <xs:annotation>
      <xs:documentation>Solids definitions block</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
	<xs:element minOccurs="0" name="define" type="defineType">
	  <xs:annotation>
	    <xs:documentation>Definitions of constants and expressions to be used for solids'
              dimensions and transformations
              In this version these become part of the global scope.</xs:documentation>
	  </xs:annotation>
	</xs:element>
	<xs:element maxOccurs="unbounded" ref="Solid"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
  
  <xs:element name="union" substitutionGroup="Solid" type="BooleanSolidType">
    <xs:annotation>
      <xs:documentation>Exported boolean union of two solids</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
  
  <xs:element name="subtraction" substitutionGroup="Solid" type="BooleanSolidType">
    <xs:annotation>
      <xs:documentation>Exported boolean subtraction of two solids</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
  
  <xs:element name="intersection" substitutionGroup="Solid" type="BooleanSolidType">
    <xs:annotation>
      <xs:documentation>Exported boolean intersectioin of two solids</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
  
  <xs:element name="box" substitutionGroup="Solid">
    <xs:annotation>
      <xs:documentation>CSG box solid described by 3 dimensions of x, y, and z</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
	<xs:extension base="SolidType">
	  <xs:attribute name="x" type="ExpressionOrIDREFType" use="required"></xs:attribute>
	  <xs:attribute name="y" type="ExpressionOrIDREFType" use="required"></xs:attribute>
	  <xs:attribute name="z" type="ExpressionOrIDREFType" use="required"></xs:attribute>
	</xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

  <xs:element name="sphere" substitutionGroup="Solid">
    <xs:annotation>
      <xs:documentation>CSG sphere or spherical shell segment solid described by
        rmin        inner radius
        rmax        outer radius
        startphi    starting angle of the segment in radians(0 &lt;= phi &lt;= 2*PI)
        deltaphi    delta angle of the segment in radians
        starttheta  starting angle of the segment in radians(0 &lt;= theta &lt;= PI)
        deltatheta  delta angle of the segment in radians</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
	<xs:extension base="SolidType">
	  <xs:attribute default="0.0" name="rmin" type="ExpressionOrIDREFType"></xs:attribute>
	  <xs:attribute name="rmax" type="ExpressionOrIDREFType" use="required"></xs:attribute>
	  <xs:attribute default="0.0" name="startphi" type="ExpressionOrIDREFType"></xs:attribute>
	  <xs:attribute name="deltaphi" type="ExpressionOrIDREFType" use="required"></xs:attribute>
	  <xs:attribute default="0.0" name="starttheta" type="ExpressionOrIDREFType"></xs:attribute>
	  <xs:attribute name="deltatheta" type="ExpressionOrIDREFType" use="required"></xs:attribute>
	</xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <!-- +++++++++++++++ G.GUERRIERI - 26.06.2005 +++++++++++++++++++++++ -->

  <xs:element name="ellipsoid" substitutionGroup="Solid">
    <xs:annotation>
      <xs:documentation>CSG ellispoid or ellipsoidal shell segment solid described by
        ax         x semiaxis
        by         y semiaxis
	cz	   z semiaxis
        zcut1      bottom plane cutting ellipsoid
        zcut2      top plane cutting ellispoid
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
	<xs:extension base="SolidType">
	  <xs:attribute name="ax" type="ExpressionOrIDREFType" use="required"></xs:attribute>
	  <xs:attribute name="by" type="ExpressionOrIDREFType" use="required"></xs:attribute>
	  <xs:attribute name="cz" type="ExpressionOrIDREFType" use="required"></xs:attribute>
	  <xs:attribute default="-1000000.0" name="zcut1" type="ExpressionOrIDREFType"></xs:attribute>
	  <xs:attribute default="1000000.0" name="zcut2" type="ExpressionOrIDREFType"></xs:attribute>
	</xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

  <xs:element name="tube" substitutionGroup="Solid">
    <xs:annotation>
      <xs:documentation>CSG tube or tube segement solid described by
	rmin      Inner radius
        rmax      Outer radius
        z         length in z
        startphi  The starting phi angle in radians, adjusted such that
        (startphi+deltaphi &lt;= 2PI, startphi &gt; -2PI)
        deltaphi  Delta angle of the segment in radians</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
	<xs:extension base="SolidType">
	  <xs:attribute name="z" type="ExpressionOrIDREFType"></xs:attribute>
	  <xs:attribute default="0.0" name="rmin" type="ExpressionOrIDREFType"></xs:attribute>
	  <xs:attribute name="rmax" type="ExpressionOrIDREFType" use="required"></xs:attribute>
	  <xs:attribute default="0.0" name="startphi" type="ExpressionOrIDREFType"></xs:attribute>
	  <xs:attribute name="deltaphi" type="ExpressionOrIDREFType" use="required"></xs:attribute>
	</xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
  
  <xs:element name="cone" substitutionGroup="Solid">
    <xs:annotation>
      <xs:documentation>CSG cone or cone segment described by
        rmin1    inside radius at  z/2
        rmin2    inside radius at  z/2
        rmax1    outside radius at z/2
        rmax2    outside radius at z/2
        z        length in z
        startphi starting angle of the segment in radians
        deltaphi delta angle of the segment in radians</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
	<xs:extension base="SolidType">
	  <xs:attribute name="z" type="ExpressionOrIDREFType" use="required"></xs:attribute>
	  <xs:attribute default="0.0" name="rmin1" type="ExpressionOrIDREFType"></xs:attribute>
	  <xs:attribute default="0.0" name="rmin2" type="ExpressionOrIDREFType"></xs:attribute>
	  <xs:attribute name="rmax1" type="ExpressionOrIDREFType" use="required"></xs:attribute>
	  <xs:attribute name="rmax2" type="ExpressionOrIDREFType" use="required"></xs:attribute>
	  <xs:attribute default="0.0" name="startphi" type="ExpressionOrIDREFType"></xs:attribute>
	  <xs:attribute name="deltaphi" type="ExpressionOrIDREFType" use="required"></xs:attribute>
	</xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
  
  <xs:element name="polycone" substitutionGroup="Solid">
    <xs:annotation>
      <xs:documentation>CSG polycone or polycone segment described by
        startphi starting angle of the segment in radians
        deltaphi delta angle of the segment in radians
	
	and a set of z-planes each described by
        rmin     inside radius at  z/2
        rmax     outside radius at z/2
        z        length in z
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
	<xs:extension base="SolidType">
	  <xs:sequence>
	    <xs:element name="zplane" minOccurs="1" maxOccurs="unbounded" type="ZPlaneType"/>	
	  </xs:sequence>
	  <xs:attribute name="deltaphi" type="ExpressionOrIDREFType" use="required"></xs:attribute>
	  <xs:attribute default="0.0" name="startphi" type="ExpressionOrIDREFType"></xs:attribute>
	</xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  
  <!-- +++++++++++++ -->
  
  <xs:complexType name="ZPlaneType">
    <xs:attribute name="z" type="ExpressionOrIDREFType" use="required"></xs:attribute>
    <xs:attribute default="0.0" name="rmin" type="ExpressionOrIDREFType"></xs:attribute>
    <xs:attribute name="rmax" type="ExpressionOrIDREFType" use="required"></xs:attribute>
  </xs:complexType>
  <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

  <xs:element name="para" substitutionGroup="Solid">
    <xs:annotation>
      <xs:documentation>CSG parallelepiped solid is described by
        x, y, z  length in x,y,z
        alpha    Angle formed by the y axis and by the plane joining the centre of the faces
        G4Parallel to the z-x plane at -y and +y
        theta    Polar angle of the line joining the centres of the faces at -z and +z in z
        phi      Azimuthal angle of the line joining the centres of the faces at -z and +z in z</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
	<xs:extension base="SolidType">
	  <xs:attribute name="x" type="ExpressionOrIDREFType" use="required"></xs:attribute>
	  <xs:attribute name="y" type="ExpressionOrIDREFType" use="required"></xs:attribute>
	  <xs:attribute name="z" type="ExpressionOrIDREFType" use="required"></xs:attribute>
	  <xs:attribute name="alpha" type="ExpressionOrIDREFType" use="required"></xs:attribute>
	  <xs:attribute name="theta" type="ExpressionOrIDREFType" use="required"></xs:attribute>
	  <xs:attribute name="phi" type="ExpressionOrIDREFType" use="required"></xs:attribute>
	</xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
  
  <xs:element name="trd" substitutionGroup="Solid">
    <xs:annotation>
      <xs:documentation>CSG trapezoid solid with varying x and y dimensions along z axis
        x1 Length along x at the surface positioned at -z
        x2 Length along x at the surface positioned at +z
        y1 Length along y at the surface positioned at -z
        y2 Length along y at the surface positioned at +z
        z  Length along z axis</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
	<xs:extension base="SolidType">
	  <xs:attribute name="x1" type="ExpressionOrIDREFType" use="required"></xs:attribute>
	  <xs:attribute name="x2" type="ExpressionOrIDREFType" use="required"></xs:attribute>
	  <xs:attribute name="y1" type="ExpressionOrIDREFType" use="required"></xs:attribute>
	  <xs:attribute name="y2" type="ExpressionOrIDREFType" use="required"></xs:attribute>
	  <xs:attribute name="z" type="ExpressionOrIDREFType" use="required"></xs:attribute>
	</xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
  
  <xs:element name="trap" substitutionGroup="Solid">
    <xs:annotation>
      <xs:documentation>CSG general trapezoid solid is described by
        z      Length along the z-axis
        theta  Polar angle of the line joining the centres of the faces at -/+z
        phi    Azimuthal angle of the line joing the centre of the face at -z to the centre of the face at +z
        y1     Length along y of the face at -z
        x1     Length along x of the side at y = -y1 of the face at -z
        x2     Length along x of the side at y = +y1 of the face at -z
        alp1   Angle with respect to the y axis from the centre of the side at y =- y1 to the centre at y = +y1 of the face at -z
        y2     Length along y of the face at +z
        x3     Length along x of the side at y = -y2 of the face at +z
        x4     Length along x of the side at y = +y2 of the face at +z
        alp2   Angle with respect to the y axis from the centre of the side at y = -y2 to the centre at y = +y2 of the face at +z</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
	<xs:extension base="SolidType">
	  <xs:attribute name="z" type="ExpressionOrIDREFType" use="required"></xs:attribute>
	  <xs:attribute name="theta" type="ExpressionOrIDREFType" use="required"></xs:attribute>
	  <xs:attribute name="phi" type="ExpressionOrIDREFType" use="required"></xs:attribute>
	  <xs:attribute name="y1" type="ExpressionOrIDREFType" use="required"></xs:attribute>
	  <xs:attribute name="x1" type="ExpressionOrIDREFType" use="required"></xs:attribute>
	  <xs:attribute name="x2" type="ExpressionOrIDREFType" use="required"></xs:attribute>
	  <xs:attribute name="alpha1" type="ExpressionOrIDREFType" use="required"></xs:attribute>
	  <xs:attribute name="y2" type="ExpressionOrIDREFType" use="required"></xs:attribute>
	  <xs:attribute name="x3" type="ExpressionOrIDREFType" use="required"></xs:attribute>
	  <xs:attribute name="x4" type="ExpressionOrIDREFType" use="required"></xs:attribute>
					<xs:attribute name="alpha2" type="ExpressionOrIDREFType" use="required"></xs:attribute>
	</xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
  
  <xs:element name="torus" substitutionGroup="Solid">
    <xs:annotation>
      <xs:documentation>CSG torus solid is described by
	rmin  Inside radius
	rmax  Outside radius
	rtor  swept radius of torus
	startphi  The starting phi angle in radians adjusted such that sphi+dphi lt 2PI, sphi gt -2PI
	deltaphi  Delta angle of the segment in radians
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
	<xs:extension base="SolidType">
	  <xs:attribute name="rmin" type="ExpressionOrIDREFType" use="required"></xs:attribute>
	  <xs:attribute name="rmax" type="ExpressionOrIDREFType" use="required"></xs:attribute>
	  <xs:attribute name="rtor" type="ExpressionOrIDREFType" use="required"></xs:attribute>
	  <xs:attribute name="startphi" type="ExpressionOrIDREFType" use="required"></xs:attribute>
	  <xs:attribute name="deltaphi" type="ExpressionOrIDREFType" use="required"></xs:attribute>
	</xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
  
  <xs:element name="orb" substitutionGroup="Solid">
    <xs:annotation>
      <xs:documentation>CSG orb solid (simplified sphere with only rmax) is described by
	r  Outside radius</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
	<xs:extension base="SolidType">
	  <xs:attribute name="r" type="ExpressionOrIDREFType" use="required"></xs:attribute>
	</xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
  
  <xs:element name="polyhedra" substitutionGroup="Solid">
    <xs:annotation>
      <xs:documentation>Polyhedra is described by
	startphi     initial phi starting angle
	totalphi     total phi angle
	numsides  number sides
	and a set of zplanes.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
	<xs:extension base="SolidType">
	  <xs:sequence>
	    <xs:element name="zplane" minOccurs="1" maxOccurs="unbounded" type="ZPlaneType"/>	
	  </xs:sequence>
	  
	  <xs:attribute name="startphi" type="ExpressionOrIDREFType" use="required"></xs:attribute>
	  <xs:attribute name="deltaphi" type="ExpressionOrIDREFType" use="required"></xs:attribute>
	  <xs:attribute name="numsides" type="ExpressionOrIDREFType" use="required"></xs:attribute>
	</xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  
  <!-- +++++++++++++ -->
  <!-- this is now obsolete (because polyhedra uses zplanes, like the polycone -->
  <xs:complexType name="RZCornersType">
    <xs:attribute name="z" type="ExpressionOrIDREFType" use="required"></xs:attribute>
    <xs:attribute name="r" type="ExpressionOrIDREFType" use="required"></xs:attribute>
  </xs:complexType>
	
  <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
  
  <xs:element name="hype" substitutionGroup="Solid">
    <xs:annotation>
      <xs:documentation>Tube with hyperbolic profile described by
	rmin    innerRadius
	rmax    outerRadius
	inst    innerStereo
	outst   outerStereo
        z       z length
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
	<xs:extension base="SolidType">
	  <xs:attribute name="rmin" type="ExpressionOrIDREFType" use="required"></xs:attribute>
	  <xs:attribute name="rmax" type="ExpressionOrIDREFType" use="required"></xs:attribute>
	  <xs:attribute name="inst" type="ExpressionOrIDREFType" use="required"></xs:attribute>
	  <xs:attribute name="outst" type="ExpressionOrIDREFType" use="required"></xs:attribute>
	  <xs:attribute name="z" type="ExpressionOrIDREFType" use="required"></xs:attribute>
	</xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  
  <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
  
  <xs:element name="eltube" substitutionGroup="Solid">
    <xs:annotation>
      <xs:documentation>
	Volume representing a tube with elliptical
	cross section.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
	<xs:extension base="SolidType">
	  <xs:attribute name="dx" type="ExpressionOrIDREFType" use="required"></xs:attribute>
	  <xs:attribute name="dy" type="ExpressionOrIDREFType" use="required"></xs:attribute>
	  <xs:attribute name="dz" type="ExpressionOrIDREFType" use="required"></xs:attribute>
	</xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  
	<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
</xs:schema>
